{
  "openapi": "3.1.0",
  "info": {
    "title": "bendbasis Public API",
    "description": "Public funding endpoints for markets, arbitrage opportunities, and funding history.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://bendbasis.com"
    }
  ],
  "paths": {
    "/api/public/v1/funding/markets": {
      "get": {
        "summary": "Markets",
        "operationId": "getFundingMarkets",
        "description": "Funding market snapshot. All `funding_rate*` fields are APR values in percent.",
        "parameters": [
          {
            "name": "market_ids",
            "in": "query",
            "required": false,
            "description": "Optional market ID filter. Supports CSV (`1,2,3`) and repeated query params (`?market_ids=1&market_ids=2`).",
            "schema": {
              "type": "string"
            },
            "example": "1,2,3"
          }
        ],
        "responses": {
          "200": {
            "description": "Markets response",
            "headers": {
              "X-API-Version": {
                "schema": {
                  "type": "string"
                },
                "example": "v1"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "public, max-age=0, s-maxage=300, stale-while-revalidate=60"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MarketRow"
                  }
                },
                "example": [
                  {
                    "market_id": 1,
                    "exchange": "bybit",
                    "base_asset": "0G",
                    "quote_asset": "USDT",
                    "open_interest": 5279289.65,
                    "volume_24h": 2881100.8681,
                    "funding_rate_live": -31.91,
                    "funding_rate_1d": 2.95,
                    "funding_rate_3d": -23.35,
                    "funding_rate_7d": -9.4,
                    "funding_rate_15d": -94.63,
                    "funding_rate_30d": -212.71
                  },
                  {
                    "market_id": 2,
                    "exchange": "bybit",
                    "base_asset": "BABYDOGE",
                    "quote_asset": "USDT",
                    "open_interest": 471050.14,
                    "volume_24h": 288038.1897,
                    "funding_rate_live": 10.95,
                    "funding_rate_1d": 10.95,
                    "funding_rate_3d": 10.95,
                    "funding_rate_7d": 10.95,
                    "funding_rate_15d": 10.55,
                    "funding_rate_30d": 10.75
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/public/v1/funding/arbitrage": {
      "get": {
        "summary": "Arbitrage opportunities",
        "operationId": "getFundingArbitrage",
        "description": "Arbitrage opportunities with normalized public fields.",
        "parameters": [
          {
            "name": "base_assets",
            "in": "query",
            "required": false,
            "description": "Optional base asset filter. Supports CSV (`BTC,ETH`) and repeated query params (`?base_assets=BTC&base_assets=ETH`).",
            "schema": {
              "type": "string"
            },
            "example": "BTC,ETH"
          }
        ],
        "responses": {
          "200": {
            "description": "Arbitrage response",
            "headers": {
              "X-API-Version": {
                "schema": {
                  "type": "string"
                },
                "example": "v1"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "public, max-age=0, s-maxage=3600, stale-while-revalidate=300"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArbitrageRow"
                  }
                },
                "example": [
                  {
                    "base_asset": "XCU",
                    "apr_15d": 74.64,
                    "stability": 1,
                    "long_market_id": 2396751,
                    "short_market_id": 2295154
                  },
                  {
                    "base_asset": "FIL",
                    "apr_15d": 49.95,
                    "stability": 0.987461,
                    "long_market_id": 9422404,
                    "short_market_id": 268893
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/public/v1/funding/markets/{marketId}/history": {
      "get": {
        "summary": "Funding history",
        "operationId": "getFundingHistory",
        "description": "Historical funding values for one market.",
        "parameters": [
          {
            "name": "marketId",
            "in": "path",
            "required": true,
            "description": "Target market ID.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "History window size. Allowed range: 1..30. Default: 30.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30,
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Funding history response",
            "headers": {
              "X-API-Version": {
                "schema": {
                  "type": "string"
                },
                "example": "v1"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "public, max-age=0, s-maxage=600, stale-while-revalidate=60"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HistoryRow"
                  }
                },
                "example": [
                  {
                    "funding_time": "2026-03-04T12:00:00+00:00",
                    "apr": 10.95
                  },
                  {
                    "funding_time": "2026-03-04T08:00:00+00:00",
                    "apr": 3.09
                  }
                ]
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MarketRow": {
        "type": "object",
        "description": "Market snapshot row. All `funding_rate*` fields are APR values in percent.",
        "properties": {
          "market_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Market identifier."
          },
          "exchange": {
            "type": "string",
            "description": "Exchange name."
          },
          "base_asset": {
            "type": "string",
            "description": "Base asset ticker."
          },
          "quote_asset": {
            "type": "string",
            "description": "Quote asset ticker."
          },
          "open_interest": {
            "type": [
              "number",
              "null"
            ],
            "description": "Open interest in quote currency units."
          },
          "volume_24h": {
            "type": [
              "number",
              "null"
            ],
            "description": "24-hour traded volume in quote currency units."
          },
          "funding_rate_live": {
            "type": [
              "number",
              "null"
            ],
            "description": "Current funding rate APR in percent."
          },
          "funding_rate_1d": {
            "type": [
              "number",
              "null"
            ],
            "description": "1-day funding rate APR in percent."
          },
          "funding_rate_3d": {
            "type": [
              "number",
              "null"
            ],
            "description": "3-day funding rate APR in percent."
          },
          "funding_rate_7d": {
            "type": [
              "number",
              "null"
            ],
            "description": "7-day funding rate APR in percent."
          },
          "funding_rate_15d": {
            "type": [
              "number",
              "null"
            ],
            "description": "15-day funding rate APR in percent."
          },
          "funding_rate_30d": {
            "type": [
              "number",
              "null"
            ],
            "description": "30-day funding rate APR in percent."
          }
        }
      },
      "ArbitrageRow": {
        "type": "object",
        "properties": {
          "base_asset": {
            "type": "string"
          },
          "apr_15d": {
            "type": "number"
          },
          "stability": {
            "type": [
              "number",
              "null"
            ]
          },
          "long_market_id": {
            "type": "integer"
          },
          "short_market_id": {
            "type": "integer"
          }
        }
      },
      "HistoryRow": {
        "type": "object",
        "properties": {
          "funding_time": {
            "type": "string",
            "format": "date-time"
          },
          "apr": {
            "type": "number"
          }
        }
      }
    }
  }
}
