{
  "openapi": "3.1.0",
  "info": {
    "title": "bendbasis API",
    "description": "Funding arbitrage data from bendbasis.",
    "version": "1.0.0-preview"
  },
  "servers": [
    {
      "url": "https://api.bendbasis.com"
    }
  ],
  "paths": {
    "/v1/funding/arbitrage": {
      "get": {
        "summary": "List arbitrage opportunities",
        "operationId": "listFundingArbitrage",
        "description": "Returns a filtered and cursor-paginated collection of funding arbitrage opportunities.",
        "parameters": [
          {
            "name": "window",
            "in": "query",
            "required": false,
            "description": "Calculation window in days.",
            "schema": {
              "type": "integer",
              "enum": [7, 15, 30],
              "default": 15
            }
          },
          {
            "name": "base_assets",
            "in": "query",
            "required": false,
            "description": "Base asset symbols as CSV or repeated parameters.",
            "schema": { "type": "string" },
            "example": "BTC,ETH"
          },
          {
            "name": "exchanges",
            "in": "query",
            "required": false,
            "description": "Exchange keys as CSV or repeated parameters. Matches either arbitrage leg.",
            "schema": { "type": "string" },
            "example": "binance,bybit"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of rows to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor returned by the previous page.",
            "schema": { "type": "string" }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Primary sort field.",
            "schema": {
              "type": "string",
              "enum": ["apr", "stability"],
              "default": "apr"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Primary sort direction. Null stability values are always last.",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Arbitrage collection",
            "headers": {
              "X-API-Version": {
                "schema": { "type": "string" },
                "example": "v1"
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ArbitrageCollection" }
              }
            }
          },
          "400": {
            "description": "Invalid query parameter or incompatible cursor.",
            "content": {
              "application/problem+json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArbitrageCollection": {
        "type": "object",
        "required": ["data", "pagination", "meta"],
        "properties": {
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ArbitrageOpportunity" }
          },
          "pagination": { "$ref": "#/components/schemas/Pagination" },
          "meta": { "$ref": "#/components/schemas/ArbitrageMeta" }
        }
      },
      "ArbitrageOpportunity": {
        "type": "object",
        "required": [
          "base_asset",
          "apr",
          "stability",
          "long_market_id",
          "short_market_id",
          "long_exchange",
          "short_exchange"
        ],
        "properties": {
          "base_asset": { "type": "string", "example": "BTC" },
          "apr": {
            "type": "number",
            "description": "APR spread in percent for the selected window."
          },
          "stability": {
            "type": ["number", "null"],
            "description": "Stability score for the selected window."
          },
          "long_market_id": { "type": "integer" },
          "short_market_id": { "type": "integer" },
          "long_exchange": { "type": "string" },
          "short_exchange": { "type": "string" }
        }
      },
      "Pagination": {
        "type": "object",
        "required": ["limit", "has_more", "next_cursor"],
        "properties": {
          "limit": { "type": "integer", "minimum": 1, "maximum": 500 },
          "has_more": { "type": "boolean" },
          "next_cursor": { "type": ["string", "null"] }
        }
      },
      "ArbitrageMeta": {
        "type": "object",
        "required": ["window", "sort", "order"],
        "properties": {
          "window": { "type": "integer", "enum": [7, 15, 30] },
          "sort": { "type": "string", "enum": ["apr", "stability"] },
          "order": { "type": "string", "enum": ["asc", "desc"] }
        }
      },
      "Problem": {
        "type": "object",
        "required": ["type", "title", "status", "detail", "code", "instance"],
        "properties": {
          "type": { "type": "string", "format": "uri" },
          "title": { "type": "string" },
          "status": { "type": "integer" },
          "detail": { "type": "string" },
          "code": { "type": "string" },
          "instance": { "type": "string" }
        }
      }
    }
  }
}
