{
  "openapi": "3.1.0",
  "info": {
    "title": "bendbasis Public API",
    "description": "Public funding endpoints for markets, arbitrage opportunities, and funding history.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://bendbasis.com"
    }
  ],
  "paths": {
    "/api/public/v1/funding/markets": {
      "get": {
        "summary": "Markets",
        "operationId": "getFundingMarkets",
        "description": "Funding market snapshot with normalized APR fields.",
        "parameters": [
          {
            "name": "market_id",
            "in": "query",
            "required": false,
            "description": "Filter by one market ID.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "market_ids",
            "in": "query",
            "required": false,
            "description": "Filter by multiple market IDs. Supports CSV (`1,2,3`) or repeated query params.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Markets response",
            "headers": {
              "X-API-Version": {
                "schema": {
                  "type": "string"
                },
                "example": "v1"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "public, max-age=0, s-maxage=300, stale-while-revalidate=60"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketsEnvelope"
                },
                "example": {
                  "data": {
                    "rows": [
                      {
                        "market_id": 1,
                        "exchange": "bybit",
                        "open_interest": 5526243.12,
                        "volume_24h": 3172244.1706,
                        "funding_rate_live": 10.95,
                        "funding_rate_1d": -9.57,
                        "funding_rate_3d": -20.69,
                        "funding_rate_7d": -9.02,
                        "funding_rate_15d": -97.83,
                        "funding_rate_30d": -214.92,
                        "base_asset": "0G",
                        "quote_asset": "USDT"
                      }
                    ]
                  },
                  "meta": null,
                  "error": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/public/v1/funding/arbitrage": {
      "get": {
        "summary": "Arbitrage opportunities",
        "operationId": "getFundingArbitrage",
        "description": "Arbitrage opportunities with normalized public fields.",
        "responses": {
          "200": {
            "description": "Arbitrage response",
            "headers": {
              "X-API-Version": {
                "schema": {
                  "type": "string"
                },
                "example": "v1"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "public, max-age=0, s-maxage=300, stale-while-revalidate=60"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArbitrageEnvelope"
                },
                "example": {
                  "data": {
                    "rows": [
                      {
                        "base_asset": "XCU",
                        "apr_15d": 63.87,
                        "stability": 1,
                        "coverage": 1,
                        "long_market_id": 2396751,
                        "short_market_id": 2295154
                      }
                    ]
                  },
                  "meta": null,
                  "error": null
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/public/v1/funding/markets/{marketId}/history": {
      "get": {
        "summary": "Funding history",
        "operationId": "getFundingHistory",
        "description": "Historical funding values for one market.",
        "parameters": [
          {
            "name": "marketId",
            "in": "path",
            "required": true,
            "description": "Target market ID.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "History window size. Allowed range: 1..30. Default: 30.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30,
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Funding history response",
            "headers": {
              "X-API-Version": {
                "schema": {
                  "type": "string"
                },
                "example": "v1"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "public, max-age=0, s-maxage=600, stale-while-revalidate=60"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoryEnvelope"
                },
                "example": {
                  "data": {
                    "rows": [
                      {
                        "funding_time": "2026-03-04T08:00:00Z",
                        "apr": 12.34
                      }
                    ]
                  },
                  "meta": {
                    "days": 30,
                    "funding_period_hours": 8
                  },
                  "error": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": true
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "MarketRow": {
        "type": "object",
        "properties": {
          "market_id": {
            "type": ["integer", "null"]
          },
          "exchange": {
            "type": "string"
          },
          "open_interest": {
            "type": ["number", "null"]
          },
          "volume_24h": {
            "type": ["number", "null"]
          },
          "funding_rate_live": {
            "type": ["number", "null"]
          },
          "funding_rate_1d": {
            "type": ["number", "null"]
          },
          "funding_rate_3d": {
            "type": ["number", "null"]
          },
          "funding_rate_7d": {
            "type": ["number", "null"]
          },
          "funding_rate_15d": {
            "type": ["number", "null"]
          },
          "funding_rate_30d": {
            "type": ["number", "null"]
          },
          "base_asset": {
            "type": "string"
          },
          "quote_asset": {
            "type": "string"
          }
        },
        "required": [
          "market_id",
          "exchange",
          "open_interest",
          "volume_24h",
          "funding_rate_live",
          "funding_rate_1d",
          "funding_rate_3d",
          "funding_rate_7d",
          "funding_rate_15d",
          "funding_rate_30d",
          "base_asset",
          "quote_asset"
        ]
      },
      "ArbitrageRow": {
        "type": "object",
        "properties": {
          "base_asset": {
            "type": "string"
          },
          "apr_15d": {
            "type": "number"
          },
          "stability": {
            "type": ["number", "null"]
          },
          "coverage": {
            "type": ["number", "null"]
          },
          "long_market_id": {
            "type": "integer"
          },
          "short_market_id": {
            "type": "integer"
          }
        },
        "required": [
          "base_asset",
          "apr_15d",
          "stability",
          "coverage",
          "long_market_id",
          "short_market_id"
        ]
      },
      "HistoryPoint": {
        "type": "object",
        "properties": {
          "funding_time": {
            "type": "string",
            "format": "date-time"
          },
          "apr": {
            "type": "number"
          }
        },
        "required": [
          "funding_time",
          "apr"
        ]
      },
      "MarketsEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "rows": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MarketRow"
                }
              }
            },
            "required": ["rows"]
          },
          "meta": {
            "type": ["object", "null"]
          },
          "error": {
            "type": "null"
          }
        },
        "required": ["data", "meta", "error"]
      },
      "ArbitrageEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "rows": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ArbitrageRow"
                }
              }
            },
            "required": ["rows"]
          },
          "meta": {
            "type": ["object", "null"]
          },
          "error": {
            "type": "null"
          }
        },
        "required": ["data", "meta", "error"]
      },
      "HistoryEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "rows": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HistoryPoint"
                }
              }
            },
            "required": ["rows"]
          },
          "meta": {
            "type": "object",
            "properties": {
              "days": {
                "type": "integer"
              },
              "funding_period_hours": {
                "type": ["integer", "null"]
              }
            },
            "required": ["days", "funding_period_hours"]
          },
          "error": {
            "type": "null"
          }
        },
        "required": ["data", "meta", "error"]
      },
      "ErrorEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "type": "null"
          },
          "meta": {
            "type": ["object", "null"]
          },
          "error": {
            "$ref": "#/components/schemas/ApiError"
          }
        },
        "required": ["data", "meta", "error"]
      }
    },
    "responses": {
      "ValidationError": {
        "description": "Validation error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            },
            "example": {
              "data": null,
              "meta": null,
              "error": {
                "code": "VALIDATION_ERROR",
                "message": "Invalid market_id/market_ids format",
                "details": null
              }
            }
          }
        }
      },
      "InternalError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            },
            "example": {
              "data": null,
              "meta": null,
              "error": {
                "code": "INTERNAL_ERROR",
                "message": "Internal server error",
                "details": null
              }
            }
          }
        }
      }
    }
  }
}
