{
  "openapi": "3.1.0",
  "info": {
    "title": "bendbasis API",
    "description": "Funding market and arbitrage data from bendbasis.",
    "version": "1.0.0-preview"
  },
  "servers": [{ "url": "https://api.bendbasis.com" }],
  "paths": {
    "/v1/assets": {
      "get": {
        "summary": "Assets",
        "operationId": "listAssets",
        "description": "Returns active assets ordered by aggregate open interest.",
        "parameters": [
          {
            "name": "assets",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": { "type": "string" },
              "maxItems": 100,
              "uniqueItems": true
            },
            "example": ["BTC", "ETH"]
          },
          {
            "name": "asset_classes",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["crypto", "equity", "etf", "index", "commodity", "fx", "tradfi", "unknown"]
              },
              "maxItems": 8,
              "uniqueItems": true
            },
            "example": ["crypto", "equity"]
          }
        ],
        "responses": {
          "200": {
            "description": "Asset collection",
            "headers": { "X-API-Version": { "schema": { "type": "string" }, "example": "v1" } },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AssetCollection" } } }
          },
          "400": {
            "description": "Invalid parameter.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidationError" } } }
          },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/v1/exchanges": {
      "get": {
        "summary": "Exchanges",
        "operationId": "listExchanges",
        "description": "Returns tracked exchanges ordered by aggregate open interest.",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["cex", "dex"] }
          }
        ],
        "responses": {
          "200": {
            "description": "Exchange collection",
            "headers": { "X-API-Version": { "schema": { "type": "string" }, "example": "v1" } },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ExchangeCollection" } } }
          },
          "400": {
            "description": "Invalid parameter.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidationError" } } }
          },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/v1/funding/markets": {
      "get": {
        "summary": "List markets",
        "operationId": "listFundingMarkets",
        "description": "Returns current data for active funding markets. Pass `next_cursor` as `cursor` to retrieve the next page.",
        "parameters": [
          {
            "name": "market_ids",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": { "type": "integer", "minimum": 1 },
              "maxItems": 400,
              "uniqueItems": true
            },
            "example": [15036, 22162, 125]
          },
          {
            "name": "base_assets",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": { "type": "string" },
              "maxItems": 100,
              "uniqueItems": true
            },
            "example": ["BTC", "ETH"]
          },
          {
            "name": "exchanges",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": { "type": "string" },
              "maxItems": 100,
              "uniqueItems": true
            },
            "example": ["binance", "bybit"]
          },
          {
            "name": "quote_assets",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": { "type": "string" },
              "maxItems": 100,
              "uniqueItems": true
            },
            "example": ["USDT", "USDC"]
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1, "maximum": 1000, "default": 100 }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor returned in `next_cursor`.",
            "schema": { "type": "string" }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["volume", "oi", "apr_live", "apr_1d", "apr_3d", "apr_7d", "apr_15d", "apr_30d"],
              "default": "apr_live"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Primary sort direction. Null values are always last.",
            "schema": { "type": "string", "enum": ["asc", "desc"], "default": "desc" }
          }
        ],
        "responses": {
          "200": {
            "description": "Funding market collection",
            "headers": { "X-API-Version": { "schema": { "type": "string" }, "example": "v1" } },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MarketCollection" } } }
          },
          "400": {
            "description": "Invalid parameter or cursor.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidationError" } } }
          },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/v1/funding/markets/{market_id}": {
      "get": {
        "summary": "Market",
        "operationId": "getFundingMarket",
        "description": "Returns current data for one active funding market.",
        "parameters": [
          {
            "name": "market_id",
            "in": "path",
            "required": true,
            "description": "Unique market ID.",
            "schema": { "type": "integer", "minimum": 1 },
            "example": 15036
          }
        ],
        "responses": {
          "200": {
            "description": "Funding market",
            "headers": { "X-API-Version": { "schema": { "type": "string" }, "example": "v1" } },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MarketResponse" } } }
          },
          "400": {
            "description": "Invalid market ID.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidationError" } } }
          },
          "404": {
            "description": "Market not found.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NotFoundError" } } }
          },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/v1/funding/markets/{market_id}/history": {
      "get": {
        "summary": "Settled funding rates",
        "operationId": "getFundingHistory",
        "description": "Returns settled funding rates at event resolution for up to 30 days, or daily aggregates for up to 365 days. Event resolution defaults to the last 7 days.",
        "parameters": [
          {
            "name": "market_id",
            "in": "path",
            "required": true,
            "description": "Unique market ID.",
            "schema": { "type": "integer", "minimum": 1 },
            "example": 15036
          },
          {
            "name": "resolution",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["event", "1d"], "default": "event" }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Inclusive start.",
            "schema": {
              "oneOf": [
                { "type": "string", "format": "date-time" },
                { "type": "string", "format": "date" },
                { "type": "integer", "format": "int64" }
              ]
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "Exclusive end.",
            "schema": {
              "oneOf": [
                { "type": "string", "format": "date-time" },
                { "type": "string", "format": "date" },
                { "type": "integer", "format": "int64" }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Settled funding rates",
            "headers": { "X-API-Version": { "schema": { "type": "string" }, "example": "v1" } },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FundingHistoryResponse" } } }
          },
          "400": {
            "description": "Invalid parameter or range.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidationError" } } }
          },
          "404": {
            "description": "Market not found.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NotFoundError" } } }
          },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/v1/funding/arbitrage": {
      "get": {
        "summary": "Arbitrage opportunities",
        "operationId": "listFundingArbitrage",
        "description": "Returns cross-exchange funding arbitrage opportunities for the selected calculation window. Pass `next_cursor` as `cursor` to retrieve the next page.",
        "parameters": [
          {
            "name": "window",
            "in": "query",
            "required": false,
            "description": "Calculation window in days.",
            "schema": { "type": "integer", "enum": [7, 15, 30], "default": 15 }
          },
          {
            "name": "base_assets",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": { "type": "string" },
              "maxItems": 100,
              "uniqueItems": true
            },
            "example": ["BTC", "ETH"]
          },
          {
            "name": "exchanges",
            "in": "query",
            "required": false,
            "description": "Matches either leg.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": { "type": "string" },
              "maxItems": 100,
              "uniqueItems": true
            },
            "example": ["binance", "bybit"]
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1, "maximum": 500, "default": 100 }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor returned in `next_cursor`.",
            "schema": { "type": "string" }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["apr", "stability"], "default": "apr" }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Primary sort direction. Null stability values are always last.",
            "schema": { "type": "string", "enum": ["asc", "desc"], "default": "desc" }
          }
        ],
        "responses": {
          "200": {
            "description": "Arbitrage collection",
            "headers": { "X-API-Version": { "schema": { "type": "string" }, "example": "v1" } },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ArbitrageCollection" } } }
          },
          "400": {
            "description": "Invalid parameter or cursor.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidationError" } } }
          },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/v1/funding/arbitrage/backtest": {
      "post": {
        "summary": "Backtest",
        "operationId": "runFundingArbitrageBacktest",
        "description": "Backtests a funding arbitrage pair for up to 365 days. Dates default to the latest seven completed UTC days. Settled funding events are used for the latest 30 days and daily aggregates for earlier dates; longer ranges return daily points.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/FundingBacktestRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Backtest result",
            "headers": { "X-API-Version": { "schema": { "type": "string" }, "example": "v1" } },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FundingBacktestResponse" } } }
          },
          "400": {
            "description": "Invalid request or market pair.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidationError" } } }
          },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    }
  },
  "components": {
    "responses": {
      "RateLimited": {
        "description": "Rate limit exceeded."
      }
    },
    "schemas": {
      "AssetCollection": {
        "type": "object",
        "required": ["data"],
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Asset" } }
        }
      },
      "Asset": {
        "type": "object",
        "required": ["asset", "name", "asset_class", "market_count", "exchange_count"],
        "properties": {
          "asset": { "type": "string", "example": "BTC" },
          "name": { "type": "string", "example": "Bitcoin" },
          "asset_class": {
            "type": "string",
            "enum": ["crypto", "equity", "etf", "index", "commodity", "fx", "tradfi", "unknown"],
            "example": "crypto"
          },
          "market_count": { "type": "integer", "minimum": 1 },
          "exchange_count": { "type": "integer", "minimum": 1 }
        }
      },
      "ExchangeCollection": {
        "type": "object",
        "required": ["data"],
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Exchange" } }
        }
      },
      "Exchange": {
        "type": "object",
        "required": ["exchange", "name", "type", "open_interest", "volume_24h", "market_count", "asset_count"],
        "properties": {
          "exchange": { "type": "string", "example": "binance" },
          "name": { "type": "string", "example": "Binance" },
          "type": { "type": ["string", "null"], "enum": ["cex", "dex", null], "example": "cex" },
          "open_interest": { "type": ["number", "null"], "description": "Aggregate open interest in comparable USD or quote notional." },
          "volume_24h": { "type": ["number", "null"], "description": "Aggregate 24-hour volume in comparable USD or quote notional." },
          "market_count": { "type": "integer", "minimum": 1 },
          "asset_count": { "type": "integer", "minimum": 1 }
        }
      },
      "MarketCollection": {
        "type": "object",
        "required": ["data", "next_cursor"],
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/FundingMarket" } },
          "next_cursor": { "type": ["string", "null"], "description": "Cursor for the next page." }
        }
      },
      "MarketResponse": {
        "type": "object",
        "required": ["data"],
        "properties": { "data": { "$ref": "#/components/schemas/FundingMarket" } }
      },
      "FundingMarket": {
        "type": "object",
        "required": ["market_id", "exchange", "symbol", "base_asset", "quote_asset", "funding_interval", "funding_rate_apr", "open_interest", "volume_24h"],
        "properties": {
          "market_id": { "type": "integer", "example": 15036 },
          "exchange": { "type": "string", "example": "binance" },
          "symbol": { "type": ["string", "null"], "example": "BTCUSDT" },
          "base_asset": { "type": "string", "example": "BTC" },
          "quote_asset": { "type": "string", "example": "USDT" },
          "funding_interval": { "type": ["integer", "null"], "description": "Funding interval in hours." },
          "funding_rate_apr": { "$ref": "#/components/schemas/FundingRateApr" },
          "open_interest": { "type": ["number", "null"], "description": "Current open interest in comparable USD or quote notional." },
          "volume_24h": { "type": ["number", "null"], "description": "Rolling 24-hour volume in comparable USD or quote notional." }
        }
      },
      "FundingRateApr": {
        "type": "object",
        "description": "Annualized funding rates in percent. Each historical field uses the named rolling window.",
        "required": ["live", "1d", "3d", "7d", "15d", "30d"],
        "properties": {
          "live": { "type": ["number", "null"] },
          "1d": { "type": ["number", "null"] },
          "3d": { "type": ["number", "null"] },
          "7d": { "type": ["number", "null"] },
          "15d": { "type": ["number", "null"] },
          "30d": { "type": ["number", "null"] }
        }
      },
      "FundingHistoryResponse": {
        "type": "object",
        "required": ["data"],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "oneOf": [
                { "$ref": "#/components/schemas/EventFundingHistoryPoint" },
                { "$ref": "#/components/schemas/DailyFundingHistoryPoint" }
              ]
            }
          }
        }
      },
      "EventFundingHistoryPoint": {
        "type": "object",
        "required": ["funding_time", "funding_rate", "funding_interval", "mark_price"],
        "properties": {
          "funding_time": { "type": "string", "format": "date-time" },
          "funding_rate": {
            "type": ["string", "null"],
            "description": "Signed decimal funding rate for one funding interval. This is not a percentage or APR.",
            "example": "0.0001"
          },
          "funding_interval": {
            "type": ["integer", "null"],
            "description": "Funding interval in hours for this observation."
          },
          "mark_price": {
            "type": ["string", "null"],
            "description": "Mark price associated with the funding observation."
          }
        }
      },
      "DailyFundingHistoryPoint": {
        "type": "object",
        "required": ["date", "funding_rate_sum", "rate_mark_sum"],
        "properties": {
          "date": { "type": "string", "format": "date" },
          "funding_rate_sum": {
            "type": ["string", "null"],
            "description": "Signed decimal funding rate summed for the UTC date.",
            "example": "0.0003"
          },
          "rate_mark_sum": {
            "type": ["string", "null"],
            "description": "Sum of funding rate multiplied by mark price for the UTC date.",
            "example": "33.973575"
          }
        }
      },
      "ArbitrageCollection": {
        "type": "object",
        "required": ["timestamp", "data", "next_cursor"],
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Time the arbitrage snapshot was last updated."
          },
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/ArbitrageOpportunity" } },
          "next_cursor": { "type": ["string", "null"], "description": "Cursor for the next page." }
        }
      },
      "ArbitrageOpportunity": {
        "type": "object",
        "required": ["base_asset", "apr", "stability", "long_market_id", "short_market_id", "long_exchange", "short_exchange"],
        "properties": {
          "base_asset": { "type": "string", "example": "BTC" },
          "apr": { "type": "number", "description": "APR spread in percent for the selected window." },
          "stability": { "type": ["number", "null"], "description": "Score from 0 to 1. Higher values indicate a more consistently sustained spread." },
          "long_market_id": { "type": "integer" },
          "short_market_id": { "type": "integer" },
          "long_exchange": { "type": "string" },
          "short_exchange": { "type": "string" }
        }
      },
      "FundingBacktestRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["long_market_id", "short_market_id"],
        "properties": {
          "long_market_id": { "type": "integer", "minimum": 1, "example": 15036 },
          "short_market_id": { "type": "integer", "minimum": 1, "example": 125 },
          "from": { "type": "string", "format": "date", "description": "Inclusive start." },
          "to": { "type": "string", "format": "date", "description": "Exclusive end." },
          "notional_per_leg": { "type": "number", "exclusiveMinimum": 0, "maximum": 1000000000000, "default": 10000, "description": "USD notional allocated to each leg." },
          "execution_cost_pct": { "type": "number", "minimum": 0, "maximum": 100, "default": 0.4, "description": "Total opening and closing cost as a percentage of per-leg notional." }
        }
      },
      "FundingBacktestResponse": {
        "type": "object",
        "required": ["data"],
        "properties": {
          "data": {
            "type": "object",
            "required": ["from", "to", "notional_per_leg", "execution_cost_pct", "summary", "series"],
            "properties": {
              "from": { "type": "string", "format": "date" },
              "to": { "type": "string", "format": "date" },
              "notional_per_leg": { "type": "number", "description": "USD notional allocated to each leg." },
              "execution_cost_pct": { "type": "number", "description": "Total opening and closing cost as a percentage of per-leg notional." },
              "summary": { "$ref": "#/components/schemas/FundingBacktestSummary" },
              "series": { "type": "array", "items": { "$ref": "#/components/schemas/FundingBacktestPoint" } }
            }
          }
        }
      },
      "FundingBacktestSummary": {
        "type": "object",
        "required": ["funding_pnl", "execution_cost", "net_pnl", "net_return_pct", "net_apr"],
        "properties": {
          "funding_pnl": { "type": "number", "description": "Funding PnL in USD." },
          "execution_cost": { "type": "number", "description": "Modeled execution cost in USD." },
          "net_pnl": { "type": "number", "description": "PnL after execution cost in USD." },
          "net_return_pct": { "type": "number", "description": "Net return against per-leg notional, in percent." },
          "net_apr": { "type": "number", "description": "Annualized net return in percent." }
        }
      },
      "FundingBacktestPoint": {
        "type": "object",
        "required": ["timestamp", "funding_pnl", "execution_cost", "net_pnl", "cumulative_net_pnl"],
        "properties": {
          "timestamp": { "type": "string", "format": "date-time" },
          "funding_pnl": { "type": "number", "description": "Funding PnL in USD." },
          "execution_cost": { "type": "number", "description": "Modeled execution cost in USD." },
          "net_pnl": { "type": "number", "description": "PnL after execution cost in USD." },
          "cumulative_net_pnl": { "type": "number", "description": "Cumulative net PnL in USD." }
        }
      },
      "ValidationError": {
        "type": "object",
        "required": ["code", "message"],
        "properties": {
          "code": { "type": "string", "enum": ["VALIDATION_ERROR"], "example": "VALIDATION_ERROR" },
          "message": { "type": "string", "example": "Invalid parameter" }
        }
      },
      "NotFoundError": {
        "type": "object",
        "required": ["code", "message"],
        "properties": {
          "code": { "type": "string", "enum": ["NOT_FOUND"], "example": "NOT_FOUND" },
          "message": { "type": "string", "example": "Funding market not found" }
        }
      }
    }
  }
}
