{
  "openapi": "3.1.0",
  "info": {
    "title": "bendbasis API",
    "description": "Funding market and arbitrage data from bendbasis.",
    "version": "1.0.0-preview"
  },
  "servers": [{ "url": "https://api.bendbasis.com" }],
  "paths": {
    "/v1/funding/markets": {
      "get": {
        "summary": "List markets",
        "operationId": "listFundingMarkets",
        "description": "Returns a filtered, sorted, and cursor-paginated collection of funding markets.",
        "parameters": [
          {
            "name": "market_ids",
            "in": "query",
            "required": false,
            "description": "Market IDs. Up to 400.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": { "type": "integer", "minimum": 1 },
              "maxItems": 400,
              "uniqueItems": true
            },
            "example": [15036, 22162, 125]
          },
          {
            "name": "base_assets",
            "in": "query",
            "required": false,
            "description": "Base asset symbols. Up to 100.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": { "type": "string" },
              "maxItems": 100,
              "uniqueItems": true
            },
            "example": ["BTC", "ETH"]
          },
          {
            "name": "exchanges",
            "in": "query",
            "required": false,
            "description": "Exchange keys. Up to 100.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": { "type": "string" },
              "maxItems": 100,
              "uniqueItems": true
            },
            "example": ["binance", "bybit"]
          },
          {
            "name": "quote_assets",
            "in": "query",
            "required": false,
            "description": "Quote asset symbols. Up to 100.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": { "type": "string" },
              "maxItems": 100,
              "uniqueItems": true
            },
            "example": ["USDT", "USDC"]
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Rows per page. Default: 100. Maximum: 1,000.",
            "schema": { "type": "integer", "minimum": 1, "maximum": 1000, "default": 100 }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor returned by the previous page.",
            "schema": { "type": "string" }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Primary sort field.",
            "schema": {
              "type": "string",
              "enum": ["volume", "oi", "apr_live", "apr_1d", "apr_3d", "apr_7d", "apr_15d", "apr_30d"],
              "default": "apr_live"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Primary sort direction. Null values are always last.",
            "schema": { "type": "string", "enum": ["asc", "desc"], "default": "desc" }
          }
        ],
        "responses": {
          "200": {
            "description": "Funding market collection",
            "headers": { "X-API-Version": { "schema": { "type": "string" }, "example": "v1" } },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MarketCollection" } } }
          },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/v1/funding/markets/{market_id}": {
      "get": {
        "summary": "Market",
        "operationId": "getFundingMarket",
        "parameters": [
          {
            "name": "market_id",
            "in": "path",
            "required": true,
            "description": "Unique market ID.",
            "schema": { "type": "integer", "minimum": 1 },
            "example": 15036
          }
        ],
        "responses": {
          "200": {
            "description": "Funding market",
            "headers": { "X-API-Version": { "schema": { "type": "string" }, "example": "v1" } },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MarketResponse" } } }
          },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "404": {
            "description": "Market not found.",
            "content": { "application/problem+json": { "schema": { "$ref": "#/components/schemas/Problem" } } }
          },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/v1/funding/markets/{market_id}/history": {
      "get": {
        "summary": "History",
        "operationId": "getFundingHistory",
        "description": "Returns raw funding observations for one market, newest first. The maximum range is 30 days.",
        "parameters": [
          {
            "name": "market_id",
            "in": "path",
            "required": true,
            "description": "Unique market ID.",
            "schema": { "type": "integer", "minimum": 1 },
            "example": 15036
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Inclusive range start. Defaults to 30 days before `to`.",
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "Exclusive range end. Defaults to the current time.",
            "schema": { "type": "string", "format": "date-time" }
          }
        ],
        "responses": {
          "200": {
            "description": "Funding history",
            "headers": { "X-API-Version": { "schema": { "type": "string" }, "example": "v1" } },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FundingHistoryResponse" } } }
          },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "404": {
            "description": "Market not found.",
            "content": { "application/problem+json": { "schema": { "$ref": "#/components/schemas/Problem" } } }
          },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/v1/funding/arbitrage": {
      "get": {
        "summary": "Arbitrage opportunities",
        "operationId": "listFundingArbitrage",
        "description": "Returns a filtered and cursor-paginated collection of funding arbitrage opportunities.",
        "parameters": [
          {
            "name": "window",
            "in": "query",
            "required": false,
            "description": "Calculation window in days.",
            "schema": { "type": "integer", "enum": [7, 15, 30], "default": 15 }
          },
          {
            "name": "base_assets",
            "in": "query",
            "required": false,
            "description": "Base asset symbols. Up to 100.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": { "type": "string" },
              "maxItems": 100,
              "uniqueItems": true
            },
            "example": ["BTC", "ETH"]
          },
          {
            "name": "exchanges",
            "in": "query",
            "required": false,
            "description": "Exchange keys. Matches either leg. Up to 100.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": { "type": "string" },
              "maxItems": 100,
              "uniqueItems": true
            },
            "example": ["binance", "bybit"]
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Rows per page. Default: 100. Maximum: 500.",
            "schema": { "type": "integer", "minimum": 1, "maximum": 500, "default": 100 }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor returned by the previous page.",
            "schema": { "type": "string" }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Primary sort field.",
            "schema": { "type": "string", "enum": ["apr", "stability"], "default": "apr" }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Primary sort direction. Null stability values are always last.",
            "schema": { "type": "string", "enum": ["asc", "desc"], "default": "desc" }
          }
        ],
        "responses": {
          "200": {
            "description": "Arbitrage collection",
            "headers": { "X-API-Version": { "schema": { "type": "string" }, "example": "v1" } },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ArbitrageCollection" } } }
          },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    }
  },
  "components": {
    "responses": {
      "InvalidRequest": {
        "description": "Invalid query parameter or incompatible cursor.",
        "content": { "application/problem+json": { "schema": { "$ref": "#/components/schemas/Problem" } } }
      },
      "RateLimited": {
        "description": "Request rate exceeded. Retry with backoff."
      },
      "InternalError": {
        "description": "Internal server error.",
        "content": { "application/problem+json": { "schema": { "$ref": "#/components/schemas/Problem" } } }
      }
    },
    "schemas": {
      "MarketCollection": {
        "type": "object",
        "required": ["data", "next_cursor"],
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/FundingMarket" } },
          "next_cursor": { "type": ["string", "null"] }
        }
      },
      "MarketResponse": {
        "type": "object",
        "required": ["data"],
        "properties": { "data": { "$ref": "#/components/schemas/FundingMarket" } }
      },
      "FundingMarket": {
        "type": "object",
        "required": ["market_id", "exchange", "symbol", "base_asset", "quote_asset", "funding_interval", "funding_rate_apr", "open_interest", "volume_24h"],
        "properties": {
          "market_id": { "type": "integer", "example": 15036 },
          "exchange": { "type": "string", "example": "binance" },
          "symbol": { "type": ["string", "null"], "example": "BTCUSDT" },
          "base_asset": { "type": "string", "example": "BTC" },
          "quote_asset": { "type": "string", "example": "USDT" },
          "funding_interval": { "type": ["integer", "null"], "description": "Funding interval in hours." },
          "funding_rate_apr": { "$ref": "#/components/schemas/FundingRateApr" },
          "open_interest": { "type": ["number", "null"], "description": "Current open interest in comparable USD or quote notional." },
          "volume_24h": { "type": ["number", "null"], "description": "Rolling 24-hour volume in comparable USD or quote notional." }
        }
      },
      "FundingRateApr": {
        "type": "object",
        "description": "Annualized funding rates in percent. Each historical field uses the named rolling window.",
        "required": ["live", "1d", "3d", "7d", "15d", "30d"],
        "properties": {
          "live": { "type": ["number", "null"] },
          "1d": { "type": ["number", "null"] },
          "3d": { "type": ["number", "null"] },
          "7d": { "type": ["number", "null"] },
          "15d": { "type": ["number", "null"] },
          "30d": { "type": ["number", "null"] }
        }
      },
      "FundingHistoryResponse": {
        "type": "object",
        "required": ["data"],
        "properties": {
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/FundingHistoryPoint" }
          }
        }
      },
      "FundingHistoryPoint": {
        "type": "object",
        "required": ["funding_time", "funding_rate", "funding_interval"],
        "properties": {
          "funding_time": { "type": "string", "format": "date-time" },
          "funding_rate": {
            "type": ["string", "null"],
            "description": "Signed decimal funding rate for one funding interval. This is not a percentage or APR.",
            "example": "0.0001"
          },
          "funding_interval": {
            "type": ["integer", "null"],
            "description": "Funding interval in hours for this observation."
          }
        }
      },
      "ArbitrageCollection": {
        "type": "object",
        "required": ["data", "next_cursor", "meta"],
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/ArbitrageOpportunity" } },
          "next_cursor": { "type": ["string", "null"] },
          "meta": { "$ref": "#/components/schemas/ArbitrageMeta" }
        }
      },
      "ArbitrageOpportunity": {
        "type": "object",
        "required": ["base_asset", "apr", "stability", "long_market_id", "short_market_id", "long_exchange", "short_exchange"],
        "properties": {
          "base_asset": { "type": "string", "example": "BTC" },
          "apr": { "type": "number", "description": "APR spread in percent for the selected window." },
          "stability": { "type": ["number", "null"], "description": "Score from 0 to 1. Higher values indicate a more consistently sustained spread." },
          "long_market_id": { "type": "integer" },
          "short_market_id": { "type": "integer" },
          "long_exchange": { "type": "string" },
          "short_exchange": { "type": "string" }
        }
      },
      "ArbitrageMeta": {
        "type": "object",
        "required": ["window", "sort", "order"],
        "properties": {
          "window": { "type": "integer", "enum": [7, 15, 30] },
          "sort": { "type": "string", "enum": ["apr", "stability"] },
          "order": { "type": "string", "enum": ["asc", "desc"] }
        }
      },
      "Problem": {
        "type": "object",
        "required": ["type", "title", "status", "detail", "code", "instance"],
        "properties": {
          "type": { "type": "string", "format": "uri" },
          "title": { "type": "string" },
          "status": { "type": "integer" },
          "detail": { "type": "string" },
          "code": { "type": "string" },
          "instance": { "type": "string" }
        }
      }
    }
  }
}
